<html lang="en">
<% include ./partials/_header %>
<body>
  <header>
  </header>

  <% for (var item in urls) { %>

    <li style="display: flex;"> Long URLs :  <a href="<%= urls[item] %>"><%= urls[item] %> </a>
   <li style="display: flex;"> Short URLs :  <a href="<%= urls[item] %>"><%= item %> </a>


    <form method = "GET" action = "/urls/<%= item %>/">
      <button type = "submit" value="Update" class="btn btn-default">Update</button>
    </form>

    <form method="POST" action="/urls/<%= item %>/delete">
      <button type="submit" value="delete" name="<%= item %>" class="btn btn-danger"> Delete Me! </button>
      </form>
      </li>

    <% } %>

    <li><a href="/urls/new" class="btn btn-primary">Do you want to shorten your URL? Click me</a></li>


</body>
</html>
